<blockquote>
  Senior developer with 25 years experience building end-to-end systems. Versatile,
creative problem solver. Consummate mentor. Superior proficiency with Ruby on Rails
and accompanying technologies.
</blockquote>

<hr>

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/chumpy">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-file-pdf-o fa-lg main-list-item-icon"></span>
    <a href="http://www.kevinbeddingfield.com/kevinbeddingfield_resume.pdf">Resume</a>
  </li>
</ul>
