<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/chumpy">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-instagram fa-lg main-list-item-icon"></span>
    <a href="https://instagram.com/kevinbeddingfield/">Instagram</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="http://twitter.com/kbeddingfield">Twitter</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-facebook fa-lg main-list-item-icon"></span>
    <a href="https://www.facebook.com/kevin.beddingfield.58">Facebook</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/kbeddingfield">linkedIn</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-file-pdf-o fa-lg main-list-item-icon"></span>
    <a href="http://www.kevinbeddingfield.com/kevinbeddingfield_resume.pdf">Resume</a>
  </li>
</ul>
